.frameContainer {
    min-width: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame {
    padding: 10px;
    margin: 6px 0px;
    border: 1px solid #3e67fa;
    border-radius: 10px;
    min-width: 55%;
    max-height: 400px;
    overflow: auto;
}

.frameSection:not(:last-child) {
    margin-bottom: 8px;
}

.renderedContainer {
    overflow-y: auto;
}